
body.html{
  scroll-behavior: smooth;
  font-family: Khmer OS Battambang;
}
 .title{
    display: inline-flex;
    position: relative;
    gap: 10px;
    font-size: 18px;
 }
 .title1{
    display: inline-flex;
    position: relative;
    gap: 30px;
    font-size: 18px;
 }
 .logo{
   position: relative;
   left: 5rem;
   width: 250px;
   align-items: center;
 }
.bg-color{
   position: fixed;
   width: 100%;
   z-index:90;
   background-color: blue;
 }
 .navbar {
   z-index: 9;
   color: white;
   left: 0;
   right: 0;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.192);

 }
 .main-form-request{
  position: relative;
  align-items: center;
  width: 100%;
  top: -10rem;
 }
 .main-form{
   top: -1rem;
   width: 50%;
 }
 .menu{
   right: 5rem;
   position: relative;
 }
 .line{
   border: 1px solid #02005f;
 }
 .text{
  font-weight: bold;
  color: rgb(0, 0, 0);
  align-items: center;
  font-family: Kh Battambang;

}
.color-box{
  color: black;
}
/* .textarea-box{
  height: 100vh;
  width: 100%;
  position: relative;
} */
 .drop{
  width: 100%;
  position: relative;
  border: 1px solid blue;
  height: 8vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.text-main{
  font-size: 18px;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.btn{
  color: white;
  left: 0;
  top: -0.5rem;
  text-align: center;
  align-items: center;
}
.btn:hover{
  color: white;
}
 .data-view{
  text-align: center;
  align-items: center;
  height: 1200px;

  border: none;
}
 a #logout{
  outline: none;
  background: none;
  color: white;
  font-size: 25px;
  border: none;
  justify-content: end;
  padding: 20px 20px;
  left: 85%;
  top: 1rem;
  position: absolute;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main-homepage{
  align-items: center;
  text-align: center;
}
.daily-report{
  position: relative;
  top: -5rem;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  width: 100%;
  color: rgb(0, 0, 0);
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.message{
  font-size: 30px;
  text-align: center;
}
.navbar-toggler{
  border: none;
  color: white;
}
.btn-hover:hover{
  transition: all 0.2s ease;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.text-color-hover:hover{
  color: #02005f;
}
.text-hover:hover{
  transition: all 0.2s ease;
  color: blue;
}
 @media only screen and (max-width: 600px){
   .logo{
      left: 0;
   }
   .navbar{
      right: 0;
   }
   .menu{
      right: 0;
   }
   .text-select{
    text-align: center;
   }
 }
