*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
    scroll-behavior: smooth;
}
.container{
    background:#ffffff;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    /* box-shadow:0 20px 35px rgba(0,0,1,0.9); */
}
form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    position: relative;
    top: -2rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
    font-family: Khmer OS Battambang;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;
    font-family: Times New Roman;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
button{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
    font-family: Khmer OS Battambang;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
 #signUpButton, #signInButton{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
#signUpButton:hover, #signInButton:hover {
    text-decoration:underline;
    color:blue;
} 
.messageDiv{
    background-color:hsl(327,90%,28%);
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 7s forwards;

}
.footer{
    align-items: center;
    position: relative;
    text-align: center;
    top: 1rem;
    color: gray;
}
.logo{
    position: relative;
    left: 5rem;
    width: 250px;
    align-items: center;
  }
  .icon-login img{
    width: 140px;
    position: relative;
    left: 33%;
    top: -1rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
  }
.navbar-toggler{
  border: none;
  background-color: white;
  color: white;
}
#gmail{
    font-family: Times New Roman;
}
@media only screen and (max-width: 600px){
    .logo{
       left: 0;
    }
    .navbar{
       right: 0;
    }
    .menu{
       right: 0;
    }
    .text-select{
     text-align: center;
    }
    .footer{
        align-items: center;
        position: relative;
        text-align: center;
        top: 9rem;
        color: gray;
    }
    .container{
        background:#fff;
        width:350px;
        padding:1.5rem;
        margin:50px auto;
        border-radius:10px;
        /* box-shadow:0 20px 35px rgba(0,0,1,0.9); */
    }
    .icon-login img{
        width: 140px;
        position: relative;
        left: 26%;
        top: -1rem;
        font-weight:bold;
        text-align:center;
        padding:1.3rem;
        margin-bottom:0.4rem;
      }
  }
